@import "@/assets/styles/variables";

*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
