@import "@/assets/styles/variables";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: inset 6px 6px 10px -5px $green-shadows,
    inset -10px -10px 53px -4px $green-highlight;
  -webkit-box-shadow: inset 6px 6px 10px -5px $green-shadows,
    inset -10px -10px 53px -4px $green-highlight;
}

*:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
