@import "@/assets/styles/variables";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: inset 6px 6px 10px -5px $green-shadows,
    inset -10px -10px 53px -4px $green-highlight;
  -webkit-box-shadow: inset 6px 6px 10px -5px $green-shadows,
    inset -10px -10px 53px -4px $green-highlight;
}

input:focus {
  outline: none;
}
